fastapi
uvicorn
openai==1.107.3
langchain==0.3.27
langchain-openai==0.3.33
langchain-community==0.3.29
langchain-core==0.3.76
langchain-text-splitters==0.3.11
faiss-cpu
python-multipart
pydantic
python-dotenv
pandas
langchain-openai
psycopg2-binary
PyPDF2
python-docx
 
