fastapi
uvicorn
openai  
langchain==0.2.10
langchain-core==0.2.19
langchain-community==0.2.7
langchain-openai==0.1.7
faiss-cpu
python-multipart
pydantic
python-dotenv
pandas
langchain-openai
psycopg2-binary
PyPDF2
python-docx
 
